body {
  text-align: center;
  margin: 50px auto;
}

 button {
  padding: 15px;
  font-size: 20px;
  background-color: #68b0ab;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}


p {
  margin-top: 20px;
  font-size: 24px;
} 
